
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&display=swap');

body { 
  font-family: Kumbh Sans; 
  /* font-size:16px;  */
  line-height: 1.3; 
  /* height:100vh;  */
  display: grid;
  /* place-items: center; */
}

.headings {
  text-align: center;
  align-items: center;
  margin-top: 50px;
  font-weight: bolder;
}

.heading{
  text-align: center;
  font-weight: bolder;
  font-size: 18px;
  /* padding-top: 10px; */
  /* padding-bottom: 10px; */
  color:  #f78f63;
}

.sub-heading {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 20px;
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
}

/* p {
  padding: 10px;
} */


.banner-button {
  border: 1px solid transparent;
  color: black;
  text-decoration: none;
  /* font-size: 6px; */
  font-weight: 500;
  background-color: white;
  text-align: center;
  margin: 20px 20px;
  line-height: 42px;
  padding-left: 30px;
  padding-right: 30px;
  display: inline-block;
}

.banner-button:hover {
  border: 1px solid white;
  color: white;
  background-color: transparent;
  background-repeat:no-repeat;
  cursor: pointer;
  overflow: hidden;
  /* outline: none; */
}


.primary-button {
  font-size: 16px;
  border: 1px solid transparent;
  color:white;
  text-decoration: none;
  font-weight: 500;
  background-color: #f78f63;
  text-align: center;
  margin: 20px 20px;
  line-height: 42px;
  padding-left: 30px;
  padding-right: 30px;
  display: inline-block;
  font-weight: bold;
  /* #FAAF31 */
}

.primary-button:hover {
  border: 1px solid #f78f63;
  color: #f78f63;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  /* outline: none; */
}


.hr{
  color: white;
}

.wrapper{
  display: flex;
}

header{
  z-index: 12;
  position: fixed;
  width: 100%;
  background: rgba(80, 69, 60, 0.3);

}

.logo{
  width: 30%;
  float: left;
  line-height: 50px;
}

.logo a > img {
  text-decoration: none;
  initial-letter: 5px;
  height: 60px;
  border-radius: 50%;
}

.wrapper{
  width: 1170px;
  margin: 0 auto;
}

.topnav {
  text-align: right;
  width: 100%;
  align-items: right;
  float: left;
  line-height: 50px;
}

.topnav ul li{
  list-style: none;
}

.topnav ul{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 0;
  height: 100%;
  /* text-decoration: none; */
}

.topnav a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 11px;
  font-weight: bold;
  margin: 0 10 px;
  padding: 20px;
}

.topnav a:hover {
  color: #f78f63;
  text-decoration: none;
}
/* 
.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
} */

/* .dropdown-content {
  display: none;
  position: absolute;
  background-color: red;
  min-width: 160px;
  z-index: 1;
} */

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}



.topnav ul li{
  list-style: none;
}

.topnav ul{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 0;
  height: 100%;
  text-decoration: none;
}


.main_drops{
  position: relative;

}

.dropdown_content {
    position: absolute;
    top: 55px;
    left: -1px;
    text-align: justify;
    /* background: lightgray; */
    width: 200px;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    opacity: 0.8;
    background: rgba(231, 177, 141, 0.3);
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 5 px;
    border-radius: 5px;
}


.dropdown_content a{
  padding: 5px;
  color: white;
}

.main_drops:hover .dropdown_content{
  visibility: visible;
  animation: opacity 200ms forwards;
}

@keyframes opacity{
  0%{
    opacity: 0;
    transform: translateY(10px);
  }
  100%{
    opacity: 1;
    transform: inherit;
  }
}


.banner{
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 700px;
  top: 100px;
  background-image: url(../Cats\ of\ Nepal/cover.jpg);
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  color: white;
}

.paralax{
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
  top: 100px;
  background-image: url(../Cats\ of\ Nepal/images/paralaxcontact.jpeg);
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  color: white;
}

.uppercase{
  font-size: 60px;
  font-weight: bold;
}

.bannercontent{
  text-align: left;
  margin-left: -400px;
}

.paralaxcontent{
  text-align: left;
  margin-left: -400px;
}

.howtohelp{
  display: flex;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.single-process{
  align-items: center;
  padding: 20px;  
}

.tohelp > img {
  width: 200px;
  padding-bottom: 20px;
}

.single-process > a{
  text-decoration: none;
  color: #f78f63;
  border: none;
  font-weight: bold;

}

.single-process > a:hover{
  text-decoration: none;
  color: #f78f63;
}

.filladoptionform{
  display: flex;
  margin-top: 50px;
  margin-bottom: 30px;
  align-items: left;
  place-items: left;
  background-color: rgb(250, 246, 246);

}

.adoptionformtext{
  font-weight: bolder;
  width:70%;
  padding: 50px;
  text-align: center;
}

.adoptionformcontent{
  padding-right: 60px;
  padding-top: 30px;
}


.aboutus{
  display: flex;
  padding: 50px;
  margin: 50px;
  /* background-color: rgb(250, 246, 246); */
}

.aboutuspicture > img {
  /* width: 50%; */
  height: 300px;
  padding: 20px;
  text-align: right;
  margin-left: 150px;
  /* align-content: right; */

}

.aboutustext{
  text-align: left;
  /* width: 50%; */
  padding-right: 200px;
}

.aboutustext > p{
  text-align: left;
}

.donatenow {
  align-items: center;
  display: flex;
  padding: 50px;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
  /* top: 100px; */
  background-image: url(../Cats\ of\ Nepal/images/bannerr.jpeg);
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  font-size: 60px;
  color: white;
}

.donatetext{
  font-size: 40px;
  width:75%;
  margin: 30px;
  font-weight: bolder;
  /* color: #f78f63; */
  text-decoration-color: lightgoldenrodyellow;
}



.adopttoday {
  align-items: center;
  display: flex;
  padding: 50px;
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 350px;
  /* top: 100px; */
  background-image: url(../Cats\ of\ Nepal/doodle2.jpg);
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  font-size: 60px;
  color: white;
}


.adopttodaytext{
  padding-right: 350px;
  font-size: 14px;
  padding-bottom: 50px;

}

.adopttodaytext > h1{
  font-weight: bolder;
}

.navdetails {
  display: flex;
}

.navdetails > details {
  padding-left: 20px;
}

.adoptrescue{
  display: flex;
}

.fourpillars {
  width: 25%;
  background-color:rgb(242, 165, 135);
  color: white;
  padding: 10px;
  text-align: center;
  margin: 20px;
}

.picture >img {
  border-radius: 50%;
  width: 130px;
  border: 6px solid white;
}


.fourpillars {
  width: 25%;
  background-color:rgb(242, 165, 135);
  color: white;
  padding: 10px;
  text-align: center;
  margin: 20px;
}

.adoptacat{
  padding: 20px;
  margin: 20px;
}


.chooseacat{
  display:flex;
}

.choose {
  width: 25%;
  background-color:rgb(242, 165, 135);
  color: white;
  padding: 10px;
  text-align: center;
  margin: 20px;
}




/////////****************LIST FOR ADOPTION******************///

.howtolist{
  margin: 50px;
}

.howtolist  .text{
  align-items: center;
  text-align: center;
  padding-right: 100px;
  padding-left: 100px;
  margin: 20px;
}

.listingquestions {
  text-align: left;
  margin: 20px;
}








.footercontent {
  /* align-items: center; */
  /* display: flex; */
  /* padding: 50px; */
  opacity: 0.5;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* height: 500px; */
  /* top: 100px; */
  background-image: url(../Cats\ of\ Nepal/images/footerbanner.jpeg);
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  /* font-size: 60px; */
  color:black;
}

.footergrid{
  padding: 50px;
  margin: 20px;
}

.footergridone .footergridtwo .footergridthree .footergridfour{
  align-content: center;
  display: flex;
  padding: 50px;
  margin: 20px;
  

}

.footergridtwo{
  display: flex;
}

.footertext{
  font-size: 40px;
  width:75%;
  margin: 30px;
  font-weight: bolder;
  /* color: #f78f63; */
  text-decoration-color: lightgoldenrodyellow;
}
